{% extends "layouts/main.html" %}

{% set pageName="What is your full name?" %}

{% block beforeContent %}
{{ 
  govukBackLink({
    text: "Back",
    href: "javascript: history.back();"
  })
}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form method="post" action="#">
      {{ 
        govukInput({
          label: {
            text: "What is your full name?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          value: data.fullName,
          classes: "govuk-input--width-20",
          id: "fullName",
          name: "fullName",
          autocomplete: "name",
          spellcheck: false
        })
      }}

      {{ 
          govukButton({
              text: "Continue"
          })
      }}
      </form>
  </div>
</div>

{% endblock %}
